* {
    margin: 0;
    padding: 0;
    font-family: monospace;

}


.header {
    background-color: black;
    color:white;
    font-size: 200%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.menu {
    background-color: lightgray;
    align-items: center;
    white-space: nowrap;
}

.menu a {
    color:black;
    font-family: monospace;
    font-size: 200%;
    text-align: center;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left:1%;
    padding-right:1%;
    text-decoration: none;
    display:inline-block;
}
.menu a:hover {
    background-color: white; 
  }
  
.menu a.active {
    background-color:black; 
    color: white;
  }

.content {
    padding: 2%;
    font-size: 200%;
}

.contactmetable {
    white-space: nowrap;
}
.contactmetable th {
    text-align: left;
}
.contactmetable td{
    padding-left: 5%;
}