.container {
    display: flex;
}
.headercontainer {
    background-color: darkslategray;
    vertical-align: top;
    flex:1;
    width:100%;
    top:0;
    left:0;
    z-index: 2;
    display: flex;
    position:fixed;
}

.headingtext {
    color:white;
    text-align: right;
    margin-right: 2%;
    justify-content: flex-end;
    align-self: flex-end;
    flex:1;
    
}

.menubutton {
    padding:0.5%;
    background-color: darkslategray;
    z-index: 10;
    width: 5%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 10%;
    border-color: white;
    color:white;
    font-weight: bold;
    font-size: medium;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    left: 0;
    top: 0;
    position:fixed;
}

.menubutton:hover {
    background-color: slategray;
    cursor:pointer;
}

.menubutton_onclick {
    padding:0.5%;
    background-color: black;
    z-index: 10;
    width: 5%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 10%;
    border-color: white;
    color:white;
    font-weight: bold;
    font-size: medium;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    left: 0;
    top: 0;
    position:fixed;
}

.menubutton_onclick:hover {
    background-color: slategray;
    cursor:pointer;
}